[submodule "3rdparty/generic"]
	path = 3rdparty/generic
	url = git@github.com:0x0-bwu/generic.git
	branch = dev
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
