#ignore files
*.o
*.a
*.sp
*.os
*.so
*.mf
*.out
*.tar
*.exe
*.png
*.xml
*.ctm
*.vtk
*.tar.gz
*.DS_Store
build
build.debug
build.release
settings.json
.VSCodeCounter
.sconsign.dblite
__pycache__
examples/python/wolfspeed_results