[submodule "thirdpart/generic"]
	path = thirdpart/generic
	url = git@github.com:Draaaaaaven/generic.git
	branch = dev
[submodule "thirdpart/internal"]
	path = thirdpart/internal
	url = git@github.com:Draaaaaaven/internal.git
[submodule "3rdparty/generic"]
	path = 3rdparty/generic
	url = git@github.com:0x0-bwu/generic.git
